/*TODO - FINAL ITERATION STILL IN PROGRESS, SOME CSS STYLES HAVEN'T BEEN REMOVED OR UPDATED TO A MORE SYMANTIC NAMING CONVENTION YET*/

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: rgb(76, 76, 76);
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: #000;;
}
h5 {
    font-weight:700;
}
.nav-link, .navbar-brand {
    font-size:12px;
    font-weight:700;
    text-transform: uppercase;
}
.navbar {
    background-color: transparent;
    margin-bottom:90px;
}
.navbar-light .navbar-toggler {
    border:none;
}
.banner{
    background: url(../images/banner-bg5.png)no-repeat bottom center scroll;
    background-size: cover;
}
.card {
    border:none;
    border-radius:0;
    border-bottom:1px dotted  #C4C9CD;
}
.grey-icon {
    color: #C4C9CD;
}
.date-div {
    width:100px;
}
.border {
    margin:16px auto;
    width:80%;
    height:2px;
    background-color: #007bff;
    margin-bottom:16px;
    border:none !important;
}
.content-date {
    font-size:11px;
    font-weight:bold;
    margin-bottom:0;
    text-transform: uppercase;
}
.card-title {
    display: inline-block;
    width:80%;
}
/*.btn-primary {*/
    /*border:none;*/
    /*width:220px;*/
    /*border-radius: 30px;*/
    /*margin:5px;*/
    /*font-weight:bold;*/
/*}*/
/*.large-button {*/
    /*background-color: #007bff;*/
    /*font-size:12px;*/
    /*font-weight:700;*/
    /*padding:10px 20px;*/
    /*letter-spacing: 2px;*/
/*}*/
/*.red-button {*/
    /*background-color: #EA4335;*/
/*}*/
/*.red-button:hover {*/
    /*background-color: #EA4335;*/
/*}*/
/*.icon-button {*/
    /*width:50px;*/
    /*height:50px;*/
    /*padding:12px;*/
    /*border-radius: 50px;*/
/*}*/
.btn-iconized-blue {
    background-color: #007bff;
    color: #fff !important;
    width:50px;
    height:50px;
    margin:5px;
    padding:12px;
    border:none;
    border-radius: 50px;
}

.btn-iconized-red {
    background-color: #ea4335;
    color: #fff !important;
    width:50px;
    height:50px;
    margin:5px;
    padding:12px;
    border: none;
    border-radius: 50px;
}

.btn-blue {
    background-color: #007bff;
    font-size:12px;
    font-weight:700;
    margin:5px;
    padding:10px 20px;
    letter-spacing: 2px;
    border:none;
    width:220px;
    border-radius: 30px;
}

.btn-iconized-red:hover {
    background-color: #ea4335;
}

/*TESTING*/

.btn:link,
.btn:visited {
    text-decoration: none;
    transition: all .2s;
    position: relative;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/*btn-iconized-blue*/

.btn-iconized-blue:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.2);
}

.btn-iconized-blue:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.2);
}

.btn-iconized-blue::after {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-iconized-blue::after {
    background-color: #007bff;
}

/*btn-iconized-red*/

.btn-iconized-red:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(234, 67, 53, 0.2);
}

.btn-iconized-red:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(234, 67, 53, 0.2);
}

.btn-iconized-red::after {
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-iconized-red::after {
    background-color: #ea4335;
}

/*btn-blue*/

.btn-blue:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 123, 255, 0.2);
}

.btn-blue:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 123, 255, 0.2);
}

.btn-blue::after {
    content: "";
    width:220px;
    height:40px;
    padding:10px 20px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-blue::after {
    background-color: #007bff;
}















/*TESTING*/


































#fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius:30px;
    width:50px;
    height:50px;
    background-color: #007bff;
    border:none;
    z-index: 99;
    display: none;
    cursor: pointer;
    box-shadow: 0 2px 25px rgba(0, 123, 255, 0.5) !important;
}
.top-display {
    background-color: transparent;
}
.logo-text-lead {
    font-weight:700;
    font-size:36px;
}
.logo-text-follow {
    font-size:24px;
 }
.bookmarked-alert-modal-content {
    padding:50px;
    font-family: 'Poppins', sans-serif;
}






.modal-large-button {
    background-color: #007bff;
    font-size:12px;
    font-weight:700;
    padding:10px 20px;
    letter-spacing: 2px;
    border-radius: 2px;
}



.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border:0 !important;
    border-radius: .3rem;
    outline: 0;
}
.bounce {
    -moz-animation: bounce 3s;
    -webkit-animation: bounce 3s;
    animation: bounce 3s;
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
.modal-text {
    font-weight:700;
    color: #000;;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media (min-width: 768px) {
    .article-container {
        padding:60px;
    }
    .navbar {
        margin-bottom:100px;
    }
    .banner {
        padding:60px;
        margin-top:50px;
        margin-bottom:50px;
    }
}

