/*TODO - FINAL ITERATION STILL IN PROGRESS, SOME CSS STYLES HAVEN'T BEEN REMOVED OR UPDATED TO A MORE SYMANTIC NAMING CONVENTION YET*/

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: rgb(76, 76, 76);
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: #000;;
}
h5 {
    font-weight:700;
}
.nav-link, .navbar-brand {
    font-size:12px;
    font-weight:700;
    text-transform: uppercase;
    color: #fff !important;
}
.navbar {
    background-color: #007bff;
}
.navbar-light .navbar-toggler {
    border:none;
}
.row {
    padding-top:120px !important;
    padding-bottom:60px !important;
}
.banner{
    background: url(../images/banner-bg.png)no-repeat bottom center scroll;
    background-size: cover;
    margin-bottom:70px;
}
.card {
    border:none;
    border-radius:0;
    border-bottom:1px dotted  #C4C9CD;
}
.grey-icon {
    color: #C4C9CD;
}
/*testing date div inside content*/
.date-div {
    width:100px;
}
.border {
    margin:16px auto;
    width:80%;
    height:2px;
    background-color: #007bff;
    margin-bottom:16px;
    border:none !important;
}
.content-date {
    font-size:11px;
    font-weight:bold;
    margin-bottom:0;
    text-transform: uppercase;
}
.card-title {
    display: inline-block;
    width:80%;
}
.btn-primary {
    border:none;
    width:200px;
    border-radius: 30px;
    margin:5px;
    font-weight:bold;
}
.large-button {
    background-color: #007bff;
    font-size:12px;
    font-weight:700;
    padding:10px;
    letter-spacing: 2px;
}
.red-button {
    background-color: #EA4335;
}
.icon-button {
    width:50px;
    height:50px;
    padding:12px;
    border-radius: 50px;
}
#fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius:30px;
    width:50px;
    height:50px;
    background-color: #007bff;
    border:none;
    z-index: 99;
    display: none;
    cursor: pointer;
    box-shadow: 0 2px 25px rgba(0, 123, 255, 0.5) !important;
}


/*@media (min-width: 768px) {*/
    /*.card {*/
        /*padding-left:40px;*/
        /*padding-right:40px;*/
    /*}*/
/*}*/

